<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <h1>Carrito de Compras</h1>
    {{#each cart.products}}
    <div class="cart-item">
        <h2>{{this.product.title}}</h2>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Precio unitario: ${{this.product.price}}</p>
        <p>Total: ${{this.product.price * this.quantity}}</p>
    </div>
    {{/each}}
</body>
</html>